<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<!-- Фрагмент, отображающий таблицу имеющихся в системе сущностей определенного класса
			 columnNames - список заголовков колонок таблицы
			 columnValues - Map, в которой ключом является id строки, значением - список значений ячеек в данной строке
			 entityClassName - имя класса сущности, для которой строится таблица
		-->
		<div th:fragment="grid(columnNames, columnValues, entityClassName)">
			<table class="dataGrid">
				
				<!-- Выводим заголовок таблицы -->
				<thead>
					<tr>
						<th th:each="columnName : ${columnNames}" th:text="${columnName}">
						</th>
					</tr>
				</thead>
				
				<!-- Выводим строки таблицы -->
				<tbody>
					<!-- Если columnValues пустая, то выводим сообщение -->
					<tr th:if="${columnValues.empty}">
						<td colspan="2"> No items available</td>
					</tr>
					
					<!-- Если columnValues не пустая, то выводим строки -->
					<tr th:each="record : ${columnValues}">
						<td th:each="cellValue : ${record.value}">
							<span th:text="${cellValue}"> Cell value</span>
						<td>
							
							<!-- В каждую строку добавляем кнопки Edit и Delete -->
						<td>
							<form action="#" th:action="@{/entity}" method="get">
								<input type="hidden" th:name="entityClassName" th:value="${entityClassName}"/>
								<input type="hidden" th:name="entityId" th:value="${record.key}"/>
								<button type="submit">Edit</button>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{/grid/delete}" method="get">
								<input type="hidden" th:name="entityClassName" th:value="${entityClassName}"/>
								<input type="hidden" th:name="entityId" th:value="${record.key}"/>
								<button type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			
			<!-- После таблицы добавляем кнопку New -->
			<form action="#" th:action="@{/entity}" method="get">
				<input type="hidden" th:name="entityClassName" th:value="${entityClassName}"/>
				<input type="hidden" th:name="entityId" th:value="-1"/>
				<button type="submit">New</button>
			</form>
		</div>
	</body>
</html>