<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<!-- Фрагмент, отвечающий за отрисовку формы редактирования одной сущности
			 entity - объект сущности, который нужно отобразить в виде HTML-формы
		-->
		<div th:fragment="entityForm(entity)">
			<form action="#" th:action="@{/entity/save}" method="post">
				<!-- Скрытое поле, которое добавит в POST-запрос имя класса сущности -->
				<input type="hidden" th:name="entityClassName" th:value="${entity.getClass().getName()}"/>
				
				<!-- Форму выводим при помощи табличной верстки -->
				<table class="entityForm">
					<tbody>
						
						<!-- Выводим все отображаемые (отмеченные аннотацией @DisplayName) поля заданной сущности -->
						<tr th:each="entityField : ${@modelAnalyzer.getDisplayableFields(entity.getClass())}">
							
							<!-- Выводим подпись (значение атрибута value() аннотации @DisplayName) -->
							<td>
								<span th:text="${@modelAnalyzer.getDisplayName(entityField)}">
									FIELD NAME
								</span>
							</td>
							
							<!-- Выводим поле формы для ввода значения -->
							<td>
								<!-- Если данное поле является "обычным" полем данных (не ссылкой на другие сущности),
								 	 то выводим простое текстовое поле-->
								<input type="text"
									   th:value="${@modelAnalyzer.runGetter(entityField, entity)}"
									   th:if="${@modelAnalyzer.isOrdinaryDataField(entityField)}"
									   th:name="${entityField.getName()}"
									   th:readonly="${@modelAnalyzer.isDisabledField(entityField)}"
								/>
								
								<!-- Если данное поле является ссылкой @OneToMany, то выводим список сущностей без возможности редактирования -->
								<span th:if="${@modelAnalyzer.isOneToManyReference(entityField)}"
									  th:text="${@modelAnalyzer.runGetter(entityField, entity)}">
								</span>
								
								<!-- Если данное поле является ссылкой @ManyToOne, то выводим drop-down, позволяющий выбрать
									 одно из существующих значений -->
								<select th:if="${@modelAnalyzer.isManyToOneReference(entityField)}"
										th:name="${entityField.getName()}">
									<option th:each="referencedEntity : ${@modelAnalyzer.getRepositoryByEntityClass(entityField.getType()).findAll()}"
											th:selected="${@modelAnalyzer.runGetter(entityField, entity) == null ? false : referencedEntity.getId().equals(@modelAnalyzer.runGetter(entityField, entity).getId())}"
											th:text="${referencedEntity.toString()}"
											th:value="${referencedEntity.getId()}">
									</option>
								</select>
								
								<!-- Если данное поле содержит ошибку, то выводим ее -->
								<span class="fieldError"
									  th:if="${errors != null && errors.getFieldError(entityField.getName()) != null}"
									  th:text="${errors.getFieldError(entityField.getName()).getDefaultMessage()}">
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				
				<!-- Кнопки Save и Cancel внизу формы -->
				<button type="submit" name="action" value="Save">Save</button>
				<button type="submit" name="action" value="Cancel">Cancel</button>
			</form>
		</div>
	</body>
</html>