<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerFragment">
		<title>jNMS</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
		<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
		<script th:src="@{/uiSupport.js}"></script>
	</head>
</html>