<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>jNMS</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
		<script th:src="@{/uiSupport.js}"></script>
	</head>
	<body class="is-preload" onload="onDocumentLoaded();">
		
		<!-- Sidebar
		 	 Содержит меню сайта -->
		<div id="header">
			
			<div class="top">
				
				<!-- Logo -->
				<div id="logo">
					<a th:href="@{/}">
						<h1 id="title">jNMS</h1>
						<p>Network Management System</p>
					</a>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<!-- Выводим ссылку на страницу профиля пользователя -->
						<li>
							<form id="profileLink" action="#" th:action="@{/users/user}" method="get">
								<input type="hidden" th:name="userId"
									   th:value="${@securityService.getCurrentUser().getId()}"/>
								<a href="#" onclick="getElementById('profileLink').submit();">
									<span class="icon solid fa-user">Profile</span>
								</a>
							</form>
						</li>
						
						<!-- Если текущий пользователь обладает максимальными правами, то даем ему ссылку на
						 	 CRUD-формы сущности User -->
						<li th:if="${@securityService.getCurrentPrivilegeLevel() >= 15}">
							<a th:href="@{/users}">
								<span class="icon solid fa-user">Users</span>
							</a>
						</li>
						
						<!-- Выводим список сущностей, над которыми текущему пользователю разрешено выполнять CRUD-операции -->
						<li th:each="entityRecord : ${@modelAnalyzer.getDisplayableEntities()}">
							<a th:href="@{/grid(entityClassName=${entityRecord.key.getName()})}">
								<span class="icon solid fa-th" th:text="${entityRecord.value}"></span>
							</a>
						</li>
						
						<!-- Выводим ссылку на страницу списка откатываемых операций -->
						<li>
							<a th:href="@{/undo}">
								<span class="icon solid fa-th">Operations log</span>
							</a>
						</li>
						
						<!-- Выводим ссылку Logout -->
						<li>
							<a th:href="@{/logout}">
								<span class="icon solid fa-th"
									  th:text="'Sign out (' + ${@securityService.getCurrentUser().getUsername()} + ')'"></span>
							</a>
						</li>
					</ul>
				</nav>
			
			</div>
		
		</div>
		
		<!-- Main
		     Рабочая область, в которой отображается содержимое разделов.
		     Здесь может отображаться тот или иной фрагмент. Какой именно - определяется атрибутом viewType -->
		<div id="main">
			<section class="two">
				<div class="container">
					<!-- viewType == 'none' - не показываем ничего -->
					<div th:if="${viewType == 'none'}"></div>
					
					<!-- viewType == 'grid' - показываем таблицу сущностей из соответствующего репозитория -->
					<div th:if="${viewType == 'grid'}">
						<div th:replace="data-grid :: grid(columnNames=${columnNames}, columnValues=${columnValues}, entityClassName=${entityClassName})">
						</div>
					</div>
					
					<!-- viewType == 'entity' - показываем форму редактирования сущности -->
					<div th:if="${viewType == 'entity'}">
						<div th:replace="entity-view :: entityForm(entity=${entity}, springContext=${springContext})">
						</div>
					</div>
					
					<!-- viewType == 'undo' - показываем список откатываемых операций -->
					<div th:if="${viewType == 'undo'}">
						<div th:replace="operations-log :: operationsLog">
						</div>
					</div>
					
					<!-- Сущности типа "Пользователь" обрабатываются особым образом - для них отдельная таблица и форма -->
					<div th:if="${viewType == 'userGrid'}">
						<div th:replace="user-grid :: userGrid(users=${users})">
						</div>
					</div>
					<div th:if="${viewType == 'userForm'}">
						<div th:replace="user-view :: userForm(user=${user})">
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>