<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="userForm(user)">
			<form action="#" th:object="${user}" th:action="@{/users/save}" method="post" id="userForm"
				  enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" th:value="${user.id}"/>
				<table class="entityForm">
					<tbody>
						<tr>
							<td colspan="2">
								<img width="200" height="200" th:src="@{/users/image(userId=${user.id})}">
							</td>
						</tr>
						<tr>
							<td>Username:</td>
							<td><input type="text" th:field="*{username}" th:value="${user.username}"/></td>
						</tr>
						<tr>
							<td colspan="2">
								<button id="changePasswordCheckbox" type="button">
									Set password
								</button>
							</td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" id="passwordField" th:field="*{password}" disabled/></td>
						</tr>
						<tr>
							<td>Confirm password</td>
							<td>
								<input type="password" id="passwordConfirmationField" th:field="*{passwordConfirmation}"
									   disabled/>
								<span id="errorBox"></span>
							</td>
						</tr>
						<tr>
							<td>Assigned authorities</td>
							<td><span th:text="${user.authorities}"></span></td>
						</tr>
						<tr>
							<td>Work group</td>
							<td>
								<select th:field="*{user.workGroup}">
									<option th:each="workGroup : ${@modelAnalyzer.getRepositoryByEntityClass(user.getClass().getField('workGroup').getType()).findAll()}"
											th:selected="${user.getWorkGroup() != null && user.getWorkGroup().getId().equals(workGroup.getId())}"
											th:text="${workGroup}"
											th:value="${workGroup.getId()}">
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Picture</td>
							<td><input type="file" name="pictureFile" accept="image/png,image/gif,image/jpeg"/></td>
						</tr>
					</tbody>
				</table>
				<br>
				<button type="submit" name="action" value="Save">Save</button>
				<button type="submit" name="action" value="Cancel">Cancel</button>
			</form>
		</div>
	</body>
</html>